.chatSide__user
  .chatSide__user--content
    .chatSide__user--content--name
      = current_user.name
    = link_to new_group_path, class:"chatSide__user--content--newGroup" do
      = fa_icon 'pencil-square-o', class: 'fa-pencil-square-o'
    = link_to edit_user_path(current_user), class:"chatSide__user--conetnt--editUser" do
      = fa_icon 'cog', class: 'fa-cog'

